/* Queries */
@media only screen and (min-width : 150px) {
.titulo-slider-top {padding-top:  20px;margin-bottom:  0px;}
.titulo-slider-top h1 {font-size: 1.5em;}

.lista-slider-top {padding:  20px 0px;}
.listado-slider-bottom {
    padding:  5px;
    font-size: 1em;
    margin-bottom:  5px;
    margin-right: 20%;
    margin-left: 20%;
}

.logo-snacktrend {padding-bottom:  10px;}
.logo-snacktrend img {width:  40%;}
.contenedor-snacktrend {padding:  30px 0px;}

.item-slider-categorias h4 {color: white;}

.img-snactrend-fondo img {width: 100%; height:  50px;}
.img-snactrend-fondo-top6 img {width: 100%;height:  80px;}

.posicion-snacktrend {padding:  10px 10px;font-size:  18px;}

.perfil-snacktrend {margin-right:  10px;margin-left:  10px;margin-top:  5px;}
.perfil-snacktrend img {width:  30px;height:  20px;margin-top:  5px;}

.username-snacktrend {margin-top:  5px;font-size:  12px;}
.footer-tarjeta-snacktrend {padding:  10px; height:  70px;}
.footer-tarjeta-snacktrend-top6 {padding:  10px; height:  70px;}

.footer-tarjeta-snacktrend h3 {font-size:  13px;}
.footer-tarjeta-snacktrend-top6 h3 {font-size:  13px;}

.padding30-bottom {padding-bottom:  10px;}

.btns-votar-snacktrend {display: block; margin-bottom:  20px:}

.btn-ver-snacktrend {
  padding:  5px 20px;
  border-radius: 10px;
  margin-bottom:  0px;
  margin-left:  5px;
  margin-right: 5px;
  width:  100%;
  font-size:  10px;
}

.btn-ver-snacktrend-vistas {
  padding:  5px 20px;
  margin-bottom:  0px;
  margin-left:  5px;
  margin-right: 5px;
  width:  100%;
  font-size:  10px;
}

.btn-ver-snacktrend-vistas-top6 {
  padding:  5px 20px;
  margin-bottom:  0px;
  margin-left:  5px;
  margin-right: 5px;
  width:  100%;
  font-size:  10px;
}

.btn-ver-snacktrend-top6 {
  padding:  5px 20px;
  border-radius: 10px;
  margin-bottom:  0px;
  margin-left:  5px;
  margin-right: 5px;
  width:  100%;
  font-size:  10px;
}

.icon-ver-snacktrend {color:  white;font-size:  32px;}
.ver-snacktrend {margin-top:  15px;}

.titulo-entretenimiento,
.titulo-gastronomia {
  padding:  10px 10px;
  border-radius:  50px;
  font-size: 16px;
  font-weight:  900;
  margin-bottom:  0px;
  margin-left:  20px;
  width: 70%;
}

.titulo-entretenimiento img {margin-right:  10px;  width:  5%;}
.titulo-gastronomia img {margin-right:  10px; width:  10%;}
.titulo-gastronomia-categorias img {margin-right:  10px; width:  5%;}
.titulo-gastronomia-categorias {
  width: 100%;
}

.margin-titulo-slider-home {padding:  10px 0px;}
.header-tarjeta-categoria h3 {height:  40px; font-size:  16px;}
.item-slider-tarjetas {height:  auto;}
.contenedor-tarjeta-blanco { height: 390px;}
.contenedor-tarjeta-blanco-categorias { height: 370px;}
.contenedor-tarjeta-blanco-listas { height: 350px;}
.titulo-tarjeta-categoria {margin-top:  0px;}
.perfil-tarjeta-categorias {width:  10%;}
.perfil-tarjeta-categorias-slider {width:  10%;}

.item-slider-categorias,
.item-slider-categorias02,
.item-slider-categorias03 {
  padding:  5px 5px;
  border-radius:  20px;
}

.item-slider-categorias a,
.item-slider-categorias02 a,
.item-slider-categorias03 a {
  padding:  5px 5px;
  border-radius:  20px;
  color:  white;
}

.slider-categorias h4 {margin-top: 0px;margin-bottom: 0px;}

.titulo-footer {border-bottom:  #D9D9D9 solid 1px; text-align: left; margin-bottom:  20px;}
.titulo-footer h2 {font-size: 22px;}
.nav-footer {line-height:  1.5;}
.nav-footer a {font-size:  10px;}
.contenedor-snacktrend-footer {margin-top:  30px;}

.row-padding {padding: 0px 0px;}
.contenedor-footer-01 {padding:  20px 0px;}
.contenedor-mapa-sito-footer {background-color:  #d9d9d9; padding:  10px 0px;}
.contenedor-snackteam {padding:  15px;}
.texto-input-publicar {text-align: right;font-size:  16px; padding-bottom:  0px; line-height: 1; margin-bottom:  10px;}
.numero-votar {font-size:  35px;line-height: 0.5; font-weight:  900; text-align: center}
.numero-votar i {color:  #B9BBBF; font-size:  22px; margin-left:  0px;}

.padding-movil-lista-input {padding-left: 0px; padding-right: 0px;}
.iconos-publicar-lista i {font-size:  16px;}
.icon-modal-publicar {font-size: 16px;}

.imagen-default-lista {float: right;}
.imagen-default-lista img {width:  25%;}
.contenedor-tarjeta-redeem {padding:  5px;margin-bottom:  10px;}
.contenedor-tarjeta-redeem2 {padding:  5px;margin-bottom:  10px;}
.superior-perfil {padding:  20px 0px;}
.nombre-perfil-editar {padding:  5px 10px;width:  100%;margin-bottom:  10px;}
.puntos-perfil h2 {line-height: 0.5; font-size:  22px; margin-bottom:  10px;}
.puntos-perfil-small {font-size:  12px;}
.superior-perfil h2 {font-size:  24px;}

.progress {
    margin-right:  20%;
    margin-left:  20%;
}

.progress-listas {
    margin-right:  0%;
    margin-left:  0%;
}

.btn-image-perfil {margin-top:  0px; margin-bottom:5px;}
.btn-derecha {font-size:  16px; margin-bottom:  10px;}

.contenedor-seccion-informativa {padding-right: 0%; padding-left: 0%;}

.titulo-footer-snacktrend {display: flex; margin-bottom:  0px;}

.posicion-snacktrend-footer {
  padding:  2px;
  font-size:  22px;
  font-weight:  900;
  margin-top:  0px;
}

.media-body {
  line-height: 1;
  font-size:  14px;
}

.listado-slider-interna {
  padding:  5px;
  font-size: 0.8em;
}

h2, .h2 {
    font-size: 1.8rem;
    line-height: 1.5em;
}

#input-publicar::placeholder  {line-height: 1;font-size:  18px;}

#input-publicar {
  font-size:  18px;
  height:  34px;
}

.contenedor-preguntas {padding:  20px; margin-top: 0px;}

.titulo-seccion h2 {font-size:  22px;padding:  10px 0px;}

.contendor-fondo-notificaciones {
  padding:  20px;
}

.texto-listasvslistas {
  text-align: center;
}

.autocomplete {
  margin-top:  0px;
}

.orden-alfabetico-menu {
  padding:  10px;
}


}


@media only screen and (min-width : 480px) {
  .imagen-default-lista {float: none;}
  .imagen-default-lista img {width:  auto;}
}



@media only screen and (min-width : 768px) {
.titulo-slider-top {padding-top:  50px;margin-bottom:  200px;}
.titulo-slider-top h1 {font-size: 3em;}

.lista-slider-top {padding:  20px 0px;}
.listado-slider-bottom {
  padding:  10px;
  font-size: 1.2em;
  margin-bottom:  0px;
  margin-right: 0%;
  margin-left: 0%;
}

.logo-snacktrend {padding-bottom:  30px;}
.logo-snacktrend img {width:  auto}

.contendor-snacktrend {padding:  50px 0px;}

.img-snactrend-fondo img {width: 100%;height:  200px;}
.img-snactrend-fondo-top6 img {width: 100%;height:  100px;}

.posicion-snacktrend {padding:  10px 20px;font-size:  36px; letter-spacing: -5px;}

.perfil-snacktrend {margin-right:  10px;margin-left:  10px;margin-top:  0px;}
.perfil-snacktrend img {width:  30px;height:  30px;margin-top:  5px;}

.username-snacktrend {margin-top:  5px;font-size:  14px;}
.footer-tarjeta-snacktrend {padding:  10px 20px; height:  auto;}
.footer-tarjeta-snacktrend h3  {height:  90px;}
.footer-tarjeta-snacktrend-top6 {padding:  10px 20px; height:  90px;}

.footer-tarjeta-snacktrend h3 {font-size:  15px;}
.footer-tarjeta-snacktrend-top6 h3 {font-size:  16px;}

.padding30-bottom {padding-bottom:  30px;}

.btns-votar-snacktrend {display: flex; margin-bottom:  0px:}

.btn-ver-snacktrend {
  padding:  10px 15px;
  border-radius: 20px;
  margin-bottom:  10px;
  margin-left:  5px;
  margin-right: 5px;
  width:  200px;
  font-size:  14px;
}

.btn-ver-snacktrend-vistas {
  padding:  10px 10px;
  margin-bottom:  5px;
  margin-left:  0px;
  margin-right: 0px;
  width: 200px;
  font-size: 11px;
}

.btn-ver-snacktrend-vistas-top6 {
  padding:  10px 10px;
  margin-bottom:  5px;
  margin-left:  0px;
  margin-right: 0px;
  width: 150px;
  font-size: 11px;
}

.btn-ver-snacktrend-top6 {
  padding:  5px 10px;
  border-radius: 20px;
  margin-bottom:  10px;
  margin-left:  5px;
  margin-right: 5px;
  width:  150px;
  font-size:  12px;
  background-color:  white;
  color:  #000000;
}

.icon-ver-snacktrend {color:  white;font-size:  22px;}
.ver-snacktrend {margin-top:  0px;}

.titulo-entretenimiento,
.titulo-gastronomia {
  padding:  10px 10px;
  border-radius:  50px;
  font-size: 18px;
  font-weight:  900;
  margin-bottom:  00px;
  margin-left:  0px;
  width: 24%;
}

.titulo-entretenimiento img {margin-right:  10px;  width:  15%;}
.titulo-gastronomia img {margin-right:  10px; width:  15%;}
.titulo-gastronomia-categorias img {margin-right:  10px; width:  15%;}
.titulo-gastronomia-categorias {
  width: 30%;
}

.margin-titulo-slider-home {padding:  30px 0px;}
.header-tarjeta-categoria h3 {height:  90px; font-size:  20px;}
.item-slider-tarjetas {height:  480px;}
.contenedor-tarjeta-blanco { height: auto;}
.contenedor-tarjeta-blanco-categorias{ height: 350px;}
.contenedor-tarjeta-blanco-listas{ height: 350px;}
.titulo-tarjeta-categoria {margin-top:  0px; padding:  5px;}
.perfil-tarjeta-categorias {width:  auto; margin-top:  3px;}
.perfil-tarjeta-categorias-slider {width:  15%; margin-top:  3px;}

.item-slider-categorias,
.item-slider-categorias02,
.item-slider-categorias03 {
  padding:  5px 15px;
  border-radius:  50px;
}

.slider-categorias h4 {margin-top: 10px;margin-bottom: 10px; color: white;}
.titulo-footer {border-bottom:  #D9D9D9 solid 1px; text-align: center; margin-bottom:  30px;}
.titulo-footer h2 {font-size: 26px; padding-bottom:  15px;}
.nav-footer {line-height:  2;}
.nav-footer a {font-size:  14px;}

.contenedor-snacktrend-footer {margin-top:  0px;}
.contenedor-footer-01 {padding:  50px 0px;}
.contenedor-mapa-sito-footer {background-color:  #d9d9d9; padding:  30px 0px;}

.contenedor-snackteam {padding:  30px;}
.numero-votar {font-size:  28px;line-height: 0.5; font-weight:  900;}
.numero-votar i {color:  #B9BBBF; font-size:  32px; margin-left: 2px; padding: 0px;}

.padding-movil-lista-input {padding-left: 15px; padding-right: 15px;}
.contenedor-tarjeta-redeem {padding:  20px;margin-bottom:  20px;}
.contenedor-tarjeta-redeem2 {padding:  20px;margin-bottom:  20px;}
.superior-perfil {padding:  30px 0px;}
.nombre-perfil-editar {padding:  5px 20px;width:  25%;margin-bottom:  20px;}
.puntos-perfil h2 {line-height: 0.5; font-size:  46px; margin-bottom:  20px;}
.puntos-perfil-small {font-size:  12px;}
.superior-perfil h2 {font-size:  32px;}
.progress {
    margin-right:  30%;
    margin-left:  30%;
}
.progress-listas {
    margin-right:  0%;
    margin-left:  0%;
}
.btn-image-perfil {margin-top:  10px; margin-bottom:20px;}
.btn-derecha {font-size:  18px; margin-bottom:  30px;}

.contenedor-seccion-informativa {padding-right: 20%; padding-left: 20%;}

.titulo-footer-snacktrend {display: flex; margin-bottom:  5px;}

.posicion-snacktrend-footer {
  padding:  5px;
  font-size:  28px;
  font-weight:  900;
  margin-top:  5px;
}

.media-body {
  line-height: 1;
  font-size:  10px;
}

.listado-slider-interna {
  padding:  15px;
  font-size: 1.5em;
}

h2, .h2 {
    font-size: 1.25rem;
    line-height: 1;
}

#input-publicar::placeholder  {line-height: 1.1;font-size:  26px;}

#input-publicar {
  font-size:  24px;
  height:  50px;
}

.contenedor-preguntas {padding:  50px; margin-top: 50px;}

.titulo-seccion h2 {font-size:  48px;padding:  30px 0px;}

.contendor-fondo-notificaciones {
  padding:  50px;
}

.texto-listasvslistas {
  text-align: left;
}

.autocomplete {
  margin-top:  0px;
}

.orden-alfabetico-menu {
  padding:  20px;
  font-size: 14px;
}



}



@media only screen and (min-width : 992px) {
.row-padding {padding: 0px 200px;}
.numero-votar {font-size:  52px;line-height: 0.5; font-weight:  900;}
.nombre-perfil-editar {padding:  5px 20px;width:  25%;margin-bottom:  20px;}

.lista-slider-top {padding:  50px 0px;}

.media-body {
  line-height: 1;
  font-size:  14px;
}

.contenedor-snacktrend {
  /*padding:  30px 110px;*/
}

}



@media only screen and (min-width : 1200px) {
.iconos-publicar-lista i {font-size:  22px;}
.icon-modal-publicar {font-size: 24px;}
.nombre-perfil-editar {padding:  5px 20px;width:  20%;margin-bottom:  20px;}

}








/* Queries */
@media only screen and (min-width : 150px) {


}


@media only screen and (min-width : 480px) {

}



@media only screen and (min-width : 768px) {

}



@media only screen and (min-width : 992px) {

}



@media only screen and (min-width : 1200px) {

}

@media screen and (min-width: 1281px){
  .footer-tarjeta-snacktrend h3{    
      font-size: 22px;
  }
}