/* Queries */
@media only screen and (min-width : 150px) {


}


@media only screen and (min-width : 480px) {

}



@media only screen and (min-width : 768px) {

}



@media only screen and (min-width : 992px) {

}



@media only screen and (min-width : 1200px) {

}
